<%= form_for @anonymous_room do |f| %>
  <div class="container" style="text-align: center; margin-top: 30px; width: 40%;", class="form-group">
    <%= f.label :모두가_보는_채팅방_이름입니다, class: "alert alert-danger"%>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "생성!", style: "margin-top: 20px; font-size: 20px;", class: 'btn btn-primary' %>
<% end %>
  </div>