

<div class="container" style="margin-top: 30px; width: 40%;" >
<%= simple_form_for(@post) do |f| %>
  <div class="form-inputs">
      <%= f.label :제목 %>
      <%= f.text_field :title, id: :post_title, class: "form-control" %><br/>
      <%= f.label :내용 %>
      <%= f.text_area :content, id: :post_content, class: "form-control tinymce", rows: "10" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions" style="margin-top: 20px;" align="center">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to '목록', posts_path, style: "color:white;",class: "btn btn-info" %>
  </div>
<% end %>
</div>