<div style="margin-left: 40%; margin-top: 30px;"><h1>익명인 게시판</h1>
<div style="margin-top: 35px; margin-left: 5px;">
<% @posts.each do |post| %>
  <span style="font-size: 18px;">제목: <%= link_to "#{post.title}", post %>
    <% if current_user.id == post.user.id %>
      <%= link_to '수정', edit_post_path(post) %>
      <%= link_to '삭제', post, method: :delete, data: { confirm: "정말 삭제하시겠습니까??" } %>
    <% end %>
      <%= link_to "좋아요 #{post.get_upvotes.size}", like_post_path(post), method: :put, style: 'font-size: 12px; height: 30px; width: 65px; color: #FFF8DC', class: "btn btn-info"%>
      <%= link_to "싫어요 #{post.get_downvotes.size}", dislike_post_path(post), method: :put, style: 'font-size: 12px; height: 30px; width: 65px; color: #FFF8DC', class: "btn btn-danger"%>
  </span>
<br><hr style="margin-right: 80%; width: 270px; border: 1px solid black;">
<% end %>


<br>
<span style="margin-left: 30px;"><%= link_to '글쓰기', new_post_path, style: "font-size: 18px; color: black", class: "btn btn-secondary" %>
<%= link_to '익명 채팅방', anonymous_rooms_path, style: "width: 120px; height:40px; font-size: 18px; color: black", class: "btn btn-warning" %>
</span>
</div>
</div>