<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
  
  <%= render "comments/comments" %>
</p>
<% if current_user.id == @post.user.id %>
<%= link_to '수정하기', edit_post_path(@post) %> |
<% end %>
<%= link_to '뒤로가기', posts_path %>
